{% extends 'base.html' %}

{% load static %}

{% block nav %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">My Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Matchups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Standings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Add Players<span class="sr-only">(current)</span></a>
                </li>
            </ul>
{% endblock %}

{% block content %}

<div></div>

{% endblock %}