{% extends 'base.html' %}

{% load static %}

{% block nav %}
{% endblock %}

{% block content %}
<div class = "row page">
    <div class = "col-md-3 col-sm-12">
        <div class = "my-team">
            <h2>My Team</h2>
            <div class = "player-container">
                <ul class = "player-list">
                    <li>QB</li>
                    <li>RB</li>
                    <li>WR</li>
                    <li>Bench</li>
                </ul>
            </div>
        </div>
    </div>
    <div class = "col-md-6 cold-sm-12">
        <div class = "player-info-container">
            <div class = "player-info-block">
                <h2>Lamar Jackson</h2>
                <div>Position: QB</div>
                <div>Team: Baltimore Ravens</div>
            </div>
            <div>
                <div>2018 Statistics</div>
                <div>Passing Yards: number</div>
                <div>Passing TD: number</div>
                <div>Interceptions: number</div>
            </div>
            <div class = "button-container">
                <button type = "submit" class = "draft-button">DRAFT PLAYER!</button>
            </div>
        </div>
        <div class = "draft-list-container">
            <div class = "draft-header">
                <div class = "name-list">Player Name</div>
                <div class = "team-list">Team</div>
                <div class = "pos-list">Position</div>
                <div class = "points-list">Points</div>
            </div>
            <ul>
                {% for player in players %}
                    <li>
                        <span class = "list-name">{{player.name}}</span>
                        <span class = "list-team">{{player.team}}</span>
                        <span class = "list-pos">{{player.position}}</span>
                        <span class = "list-pts">{{player.points}}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class = "col-md-3 col-sm-12">
        <div class = "draft-order">
            <h2>Draft Order</h2>
            <ul>
                <li>User currently drafting</li>
                <li>Next user</li>
                <li>Next user</li>
                <li>Next user</li>
                <li>Next user</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
