{% extends 'base.html' %}

{% load static %}

{% block nav %}
{% endblock %}

{% block content %}
<div class = "row page">
    <div class = "col-md-3 col-sm-12">
        <div class = "my-team">
            <table>
                <tr>
                    <th>My Team</th>
                </tr>
                <tr>
                    <td>QB</td>
                    <td>
                        {{my_qb}}
                    </td>
                    <td>
                        {{my_qb.team}}
                    </td>
                </tr>
                <tr>
                    <td>RB</td>
                    <td>
                        {{my_rb}}
                    </td>
                    <td>
                        {{my_rb.team}}
                    </td>
                </tr>
                <tr>
                    <td>WR</td>
                    <td>
                        {{my_wr}}
                    </td>
                    <td>
                        {{my_wr.team}}
                    </td>
                </tr>
                <tr>
                    <td>Bench</td>
                    <td>
                        ---
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class = "col-md-6 cold-sm-12">
        <div class = "player-info-container">
            <div class = "player-info-block">
                <h2 id = "currPlayer"></h2>
                <div id = "playerPosition">---</div>
                <div id = "playerTeam">---</div>
            </div>
            <div>
                <div>2018 Statistics</div>
                <div id = "yards"></div>
                <div id = "td"></div>
                <div id = "turnovers"></div>
            </div>
            <div class = "button-container">
                <form method = "POST">
                    <button type = "submit" class = "draft-button">DRAFT PLAYER!</button>
                    {% csrf_token %}
                    {{ form.as_p }}
                </form>
            </div>
        </div>
        <div class = "draft-list-container">
            <table>
                <tr>
                    <th>Player Name</th>
                    <th>Team</th>
                    <th>Position</th>
                    <th>2018 Fantasy Points</th>
                </tr>
                {% for player in players %}
                <tr>
                    <td class = "list-name"><a href ='#' onclick = "playerClick('{{player}}')" >{{player.name}}</a></td>
                    <td class = "list-team">{{player.team}}</td>
                    <td class = "list-pos">{{player.position}}</td>
                    <td class = "list-pts">{{player.points|floatformat:2}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class = "col-md-3 col-sm-12">
        <div class = "draft-order">
            <h2>Draft Order</h2>
                <ol id = "draftOrder">
                {% for user in draft_list %}
                    <li>{{user}}</li>
                {% endfor %}
                </ol>
        </div>
    </div>
</div>
{% endblock %}
