{% extends 'base.html' %}

{% load static %}

{% block nav %}
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{%url 'matchup'%}">Matchup<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{%url 'standings'%}">Standings</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
<div class = "matchup-container">
    <table id = "score-table" style = "border: 1px solid black">
        <tr>
            <th>{{all_matchups.t1}}'s Team</th>
            <th>{{total.t1}}</th>
            <th>Pos</th>
            <th>{{all_matchups.t2}}'s Team</th>
            <th>{{total.t2}}</th>
        </tr>
        <tr>
            <td>{{all_stats.t1.qb.name}}</td>
            <td>{{all_stats.t1.qb.points}}</td>
            <td>QB</td>
            <td>{{all_stats.t2.qb.name}}</td>
            <td>{{all_stats.t2.qb.points}}</td>
        </tr>
        <tr>
            <td>{{all_stats.t1.rb.name}}</td>
            <td>{{all_stats.t1.rb.points}}</td>
            <td>RB</td>
            <td>{{all_stats.t2.rb.name}}</td>
            <td>{{all_stats.t2.rb.points}}</td>
        </tr>
        <tr>
            <td>{{all_stats.t1.wr.name}}</td>
            <td>{{all_stats.t1.wr.points}}</td>
            <td>WR</td>
            <td>{{all_stats.t2.wr.name}}</td>
            <td>{{all_stats.t2.wr.points}}</td>
        </tr>
    </table>
</div>
<div class = "my-team-container">
    <h2>{{all_matchups.t1}}'s Team</h2>
    <table>
        <tr>
            <th>Position</th>
            <th>Player Name</th>
            <th>Fantasy Points</th>
            <th>Passing Yards</th>
            <th>Passing TDs</th>
            <th>Rushing Yards</th>
            <th>Rushing TDs</th>
            <th>Receiving Yards</th>
            <th>Receiving TDs</th>
            <th>Interceptions</th>
            <th>Fumbles Lost</th>
        </tr>
        <tr>
            <td>{{all_stats.t1.qb.position}}</td>
            <td>{{all_stats.t1.qb.name}}</td>
            <td>{{all_stats.t1.qb.points}}</td>
            <td>{{all_stats.t1.qb.pass_yds}}</td>
            <td>{{all_stats.t1.qb.pass_tds}}</td>
            <td>{{all_stats.t1.qb.rush_yds}}</td>
            <td>{{all_stats.t1.qb.rush_tds}}</td>
            <td>{{all_stats.t1.qb.rec_yds}}</td>
            <td>{{all_stats.t1.qb.rec_tds}}</td>
            <td>{{all_stats.t1.qb.interceptions}}</td>
            <td>{{all_stats.t1.qb.fumbles}}</td>
        </tr>
        <tr>
            <td>{{all_stats.t1.rb.position}}</td>
            <td>{{all_stats.t1.rb.name}}</td>
            <td>{{all_stats.t1.rb.points}}</td>
            <td>{{all_stats.t1.rb.pass_yds}}</td>
            <td>{{all_stats.t1.rb.pass_tds}}</td>
            <td>{{all_stats.t1.rb.rush_yds}}</td>
            <td>{{all_stats.t1.rb.rush_tds}}</td>
            <td>{{all_stats.t1.rb.rec_yds}}</td>
            <td>{{all_stats.t1.rb.rec_tds}}</td>
            <td>{{all_stats.t1.rb.interceptions}}</td>
            <td>{{all_stats.t1.rb.fumbles}}</td>
        </tr>
        <tr>
            <td>{{all_stats.t1.wr.position}}</td>
            <td>{{all_stats.t1.wr.name}}</td>
            <td>{{all_stats.t1.wr.points}}</td>
            <td>{{all_stats.t1.wr.pass_yds}}</td>
            <td>{{all_stats.t1.wr.pass_tds}}</td>
            <td>{{all_stats.t1.wr.rush_yds}}</td>
            <td>{{all_stats.t1.wr.rush_tds}}</td>
            <td>{{all_stats.t1.wr.rec_yds}}</td>
            <td>{{all_stats.t1.wr.rec_tds}}</td>
            <td>{{all_stats.t1.wr.interceptions}}</td>
            <td>{{all_stats.t1.wr.fumbles}}</td>
        </tr>
    </table>
<div>
<div class = "my-team-container">
    <h2>{{all_matchups.t2}}'s Team</h2>
    <table>
        <tr>
            <th>Position</th>
            <th>Player</th>
            <th>Fantasy Points</th>
            <th>Passing Yards</th>
            <th>Passing TDs</th>
            <th>Rushing Yards</th>
            <th>Rushing TDs</th>
            <th>Receiving Yards</th>
            <th>Receiving TDs</th>
            <th>Interceptions</th>
            <th>Fumbles Lost</th>
        </tr>
        <tr>
            <td>{{all_stats.t2.qb.position}}</td>
            <td>{{all_stats.t2.qb.name}}</td>
            <td>{{all_stats.t2.qb.points}}</td>
            <td>{{all_stats.t2.qb.pass_yds}}</td>
            <td>{{all_stats.t2.qb.pass_tds}}</td>
            <td>{{all_stats.t2.qb.rush_yds}}</td>
            <td>{{all_stats.t2.qb.rush_tds}}</td>
            <td>{{all_stats.t2.qb.rec_yds}}</td>
            <td>{{all_stats.t2.qb.rec_tds}}</td>
            <td>{{all_stats.t2.qb.interceptions}}</td>
            <td>{{all_stats.t2.qb.fumbles}}</td>
        </tr>
        <tr>
            <td>{{all_stats.t2.rb.position}}</td>
            <td>{{all_stats.t2.rb.name}}</td>
            <td>{{all_stats.t2.rb.points}}</td>
            <td>{{all_stats.t2.rb.pass_yds}}</td>
            <td>{{all_stats.t2.rb.pass_tds}}</td>
            <td>{{all_stats.t2.rb.rush_yds}}</td>
            <td>{{all_stats.t2.rb.rush_tds}}</td>
            <td>{{all_stats.t2.rb.rec_yds}}</td>
            <td>{{all_stats.t2.rb.rec_tds}}</td>
            <td>{{all_stats.t2.rb.interceptions}}</td>
            <td>{{all_stats.t2.rb.fumbles}}</td>
        </tr>
        <tr>
            <td>{{all_stats.t2.wr.position}}</td>
            <td>{{all_stats.t2.wr.name}}</td>
            <td>{{all_stats.t2.wr.points}}</td>
            <td>{{all_stats.t2.wr.pass_yds}}</td>
            <td>{{all_stats.t2.wr.pass_tds}}</td>
            <td>{{all_stats.t2.wr.rush_yds}}</td>
            <td>{{all_stats.t2.wr.rush_tds}}</td>
            <td>{{all_stats.t2.wr.rec_yds}}</td>
            <td>{{all_stats.t2.wr.rec_tds}}</td>
            <td>{{all_stats.t2.wr.interceptions}}</td>
            <td>{{all_stats.t2.wr.fumbles}}</td>
        </tr>
    </table>

{% endblock %}