{% extends 'base.html' %}

{% load static %}

{% block nav %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'matchup'%}">Matchup</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{%url 'standings'%}">Standings<span class="sr-only">(current)</span></a>
                </li>
            </ul>
{% endblock %}

{% block content %}

<div class = "col-md-12 matchup-table">
    <h3>Week {{week}} Matchups</h3>
    <table>
        <tr>
            <th>Team</th>
            <th>Points</th>
            <th>Points</th>
            <th>Team</th>
        </tr>
        <tr>
            <td>{{all_matchups.t1}}'s Team</td>
            <td>{{total.t1}}</td>
            <td>{{total.t2}}</td>
            <td>{{all_matchups.t2}}'s Team</td>
        </tr>
        <tr>
            <td>{{all_matchups.t3}}'s Team</td>
            <td>{{total.t3}}</td>
            <td>{{total.t4}}</td>
            <td>{{all_matchups.t4}}'s Team</td>
        </tr>
        <tr>
            <td>{{all_matchups.t5}}'s Team</td>
            <td>{{total.t5}}</td>
            <td>{{total.t6}}</td>
            <td>{{all_matchups.t6}}'s Team</td>
        </tr>
    </table>
</div>
<div class = "col-md-12 standings-table">
    <h3>Standings</h3>
    <table>
        <tr>
            <th>Team</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Ties</th>
            <th>Total Points</th>
        </tr>
        {% for team in all_records %}
            <tr>
                <td>{{team.username}}'s Team</td>
                <td>{{team.win}}</td>
                <td>{{team.loss}}</td>
                <td>{{team.tie}}</td>
                <td>{{team.points}}</td>
            </tr>
        {% endfor %}
    </table>
</div>
<div class = "adv-button-container">
    <form method = "POST" action = {% url 'standings' %}>
        <button type = "submit" class = "advance-week">Advance Week</button>
        {% csrf_token %}
        {{ form.as_p }}
    </form>
    {% if week == 5 %}
        <span class = "winner" >{{winner.username}}'s Team Wins!</span>
    {% endif %}
    <form method = "POST" action = {% url 'draft' %}>
        <button type = "submit" class = "reset" name = "reset">Reset Draft</button>
        {% csrf_token %}
        {{ form.as_p }}
    </form>
</div>

{% endblock %}