{% extends 'base.html' %}

{% load static %}

{% block nav %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">My Team<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Matchups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Standings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Add Players</a>
                </li>
            </ul>
{% endblock %}

{% block content %}

<div>
    <h2>My Team</h2>
</div>
<div>
    <table>
        <tr>
            <th>Position</th>
            <th>Player Name</th>
            <th>Fantasy Pts</th>
            <th>Passing Yds</th>
            <th>Passing TDs</th>
            <th>Int</th>
            <th>Rush Yds</th>
            <th>Rush TDs</th>
            <th>Rec Yds</th>
            <th>Rec TDs<th>
            <th>Fumbles</th>
        </tr>
        <tr>
            <td>{{players.position}}</td>
            <td>{{players.name}}</td>
            <td>{{players.points}}</td>
            <td>{{players.pass_yds}}</td>
            <td>{{players.pass_tds}}</td>
            <td>{{players.interceptions}}</td>
            <td>{{players.rush_yds}}</td>
            <td>{{players.rush_tds}}</td>
            <td>{{players.rec_yds}}</td>
            <td>{{players.rec_tds}}</td>
            <td>{{players.fumbles}}</td>
        </tr>
    <table>

{% endblock %}