/***Draft page styles***/
.page {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

#header {
    text-align: center;
}

.my-team {
    border: 3px solid black;
    width: 100%;
}

.player-conainer {
    border: 3px solid black;
}

.player-info-container {
    border: 3px solid black;
}

.draft-order {
    border: 3px solid black;
}

.player-info-container {
    display: flex;
    justify-content: space-between;
}

.draft-list-container {
    border: 3px solid black;
}

.matchup-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.my-team-container {
    padding-left: 10px;
    padding-right: 10px;
}

table {
    border: 1px solid black;
    width: 100%;
    text-align: center;

}

.draft-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #7ae43c;
  }

/***Matchup Page styles***/

tr, td {
    border: 1px solid black;
    
}

#score-table {
    
    border: 1px solid black;
  }

/***Button styles***/
.draft-button {
    background-color:blue;
    color: whitesmoke;
    margin-top: 3px;
    margin-right: 3px;
}

/***All page styles***/
ul {
    list-style-type: none;
}