/***Draft page styles***/
.page {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

#header {
    text-align: center;
}

.my-team {
    border: 3px solid black;
    width: 100%;
}

.player-conainer {
    border: 3px solid black;
}

.player-info-container {
    border: 3px solid black;
}

.draft-order {
    border: 3px solid black;
}

.player-info-container {
    display: flex;
    justify-content: space-between;
}

.draft-list-container {
    border: 3px solid black;
}

.draft-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

/***Matchup Page styles***/
.matchup-container {
    display: flex;
}

/***Button styles***/
.draft-button {
    background-color:blue;
    color: whitesmoke;
    margin-top: 3px;
    margin-right: 3px;
}

/***All page styles***/
ul {
    list-style-type: none;
}